name: Github Action Docker Image

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Increase swap
        run: |
          free -h

          sudo swapoff /mnt/swapfile
          sudo fallocate -l 12G /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile

          free -h

      - name: Install Nix
        uses: cachix/install-nix-action@v12
        with:
          extra_nix_config: |
            trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
            substituters = https://hydra.iohk.io https://cache.nixos.org/

      - name: Login to Cachix
        uses: cachix/cachix-action@v8
        with:
          name: octopod
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Build Github Action Docker Image
        run: |
          nix-build -A compaRESTGithubAction -j auto -o image

      - name: Log into Docker Hub
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Upload Image to Docker Hub
        if: github.ref == 'refs/heads/master'
        run: |
          docker load -i image
          docker push typeable/comparest-github-action:latest
