name: Github Action Docker Image

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [prereleased]

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Increase swap
        shell: bash
        run: |
          free -h

          sudo swapoff /mnt/swapfile
          sudo fallocate -l 12G /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile

          free -h

      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Common setup
        uses: ./.github/actions/common_setup
        with:
          key: |
            Linux-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-${{ hashFiles('**.cabal') }}
            Linux-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-
            Linux-${{ hashFiles('**.nix') }}-
            Linux-

      - name: Build Linux static binary
        shell: bash
        run: |
          cp $(nix-build -A compaRESTStaticBin -j auto)/bin/compaREST compaREST

      - name: Upload compaREST Linux Binary
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-Linux
          path: compaREST

      - name: Build Github Action Docker Image
        shell: bash
        run: |
          cp $(nix-build -A compaRESTGithubAction -j auto) compaREST-Github-Action-image.tar.gz
          cp $(nix-build -A compaRESTImage-j auto) compaREST-image.tar.gz

      - name: Upload compaREST Github Action Image
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-Github-Action-image
          path: compaREST-Github-Action-image.tar.gz

      - name: Upload compaREST Image
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-image
          path: compaREST-image.tar.gz

      - name: Install skopeo
        shell: bash
        run: |
          sudo apt-get -y update
          sudo apt-get -y install skopeo

      - name: Login to DockerHub
        if: github.event_name == 'release'
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Images to DockerHub
        if: github.event_name == 'release'
        shell: bash
        run: |
          skopeo copy docker-archive:$(nix-build -A compaRESTGithubAction -j auto) docker://typeable/comparest-github-action:${{ github.event.payload.name }}
          skopeo copy docker-archive:$(nix-build -A compaRESTImage -j auto) docker://typeable/comparest:${{ github.event.payload.name }}

      - name: Cache Nix post
        uses: ./.github/actions/nix_cache_post

  macOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Common setup
        uses: ./.github/actions/common_setup
        with:
          key: |
            macOS-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-${{ hashFiles('**.cabal') }}
            macOS-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-
            macOS-${{ hashFiles('**.nix') }}-
            macOS-

      - name: Build macOS binary bundle
        run: |
          cp -LR $(nix-build -A macOSCompaRESTBundle -j auto) compaREST

      - name: Upload macOS compaREST bundle
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-macOS
          path: compaREST

      - name: Cache Nix post
        uses: ./.github/actions/nix_cache_post

  Linux-Windows:
    runs-on: ubuntu-latest
    steps:
      - name: Increase swap
        shell: bash
        run: |
          free -h

          sudo swapoff /mnt/swapfile
          sudo fallocate -l 12G /mnt/swapfile
          sudo mkswap /mnt/swapfile
          sudo swapon /mnt/swapfile

          free -h

      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Common setup
        uses: ./.github/actions/common_setup
        with:
          key: |
            Linux-Windows-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-${{ hashFiles('**.cabal') }}
            Linux-Windows-${{ hashFiles('**.nix') }}-${{ hashFiles('stack.yaml') }}-
            Linux-Windows-${{ hashFiles('**.nix') }}-
            Linux-Windows-

      - name: Build Windows binary
        run: |
          cp -LR $(nix-build -A WindowsCompaRESTBin -j auto)/bin compaREST

      - name: Upload compaREST Linux Binary
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-Windows
          path: compaREST

      - name: Upload Windows compaREST bundle
        uses: actions/upload-artifact@v2
        with:
          name: compaREST-Windows
          path: compaREST

      - name: Cache Nix post
        uses: ./.github/actions/nix_cache_post
