name: Haskell CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
        with:
          enable-stack: true
          stack-no-global: true
          stack-version: "latest"
      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.stack
          key: ${{ runner.os }}-build-stack-${{ hashFiles('**/stack.yaml') }}-${{ hashFiles('**/*.cabal') }}
          restore-keys: |
            ${{ runner.os }}-build-stack-${{ hashFiles('**/stack.yaml') }}
            ${{ runner.os }}-build-stack-
      - name: Build
        run: stack build --ghc-options="-O3 -j" --local-bin-path out --copy-bins --flag openapi-diff:Static
      - name: Test
        run: stack test --test-arguments='--hide-successes --no-create'
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: openapi-diff-linux
          path: out/openapi-diff
